@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

// alguns mixins

@mixin text-heading{
    font-size: 36px;
    font-family: Sora, sans-serif;    
}

@mixin text-body{
    font-size: 20px;
    font-family: Sora, sans-serif;
    
}

@mixin text-body2{
    font-size: 15px;
    font-family: Sora, sans-serif;    
}

@mixin text-list-item{
    font-size: 14px;
    font-family: Sora, sans-serif; 
}

// estilizando a página

*{
    box-sizing: border-box;
}

body{
    background-color: #FAFAF9;   
     
}

.main{
    display: flex;
    flex-direction: row;       
    padding: 60px 30px;
}

.left-content{
    min-width: 50%;  
    height: 50%;
    width: 50%;
}

.star{
    z-index: 1;
    border-radius: 100%;    
    background-color: #F5C044;
}

h1{
    @include text-heading();
}

p{
    @include text-body();
}

.check-list{
    display: flex;
    flex-direction: row;
}

.check{
    display: block;
    margin-bottom: 10px;
}

.descriptions > span {
    display: block;
    line-height: 24px;
    margin-left: 10px;
    @include text-list-item();
    margin-bottom: 10px;
}

.right-content{
    
    width: 50%;
    padding: 0px 30px;   
    min-width: 50%; 
}

.testimonial{    
    width: 60%;    
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 15px;
    justify-content: left;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05); 
    min-width: 300px;      
}

.logo-stars{    
    height: 40%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo{
    
    width: fit-content;        
    margin-right: 10px;
    display: flex;
    justify-content: left;
}

.company-logo{
    width: 85px;         
}

.stars{
        
    height: 100%;    
    display: flex;

}

.avaliaty-star{    
    height: fit-content;      
}

.people-name{
    @include text-body2();
    font-weight: bold;
    margin-top: 15px;
}

.testimonial-descriptions{
    @include text-body2();
}

.testimonial-left{
    display: flex;
    flex-direction: row;
    justify-content: right;   
}

.testimonial-right{
    margin-top: 25px;
}

@media (max-width: 750px){
    .main{
        flex-direction: column;
    }

    .right-content{
        margin-top: 30px;        
        padding: 0px;
        width: 100%;
    }

    .left-content{
        width: 100%;
    }

    
}