@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

// alguns mixins

@mixin text-heading{
    font-size: 36px;
    font-family: Sora, sans-serif;    
}

@mixin text-body{
    font-size: 20px;
    font-family: Sora, sans-serif; 
}

@mixin text-body2{
    font-size: 16px;
    font-family: Sora, sans-serif; 
}

@mixin text-list-item{
    font-size: 14px;
    font-family: Sora, sans-serif; 
}

// estilizando a página

*{
    box-sizing: border-box;
}

body{
    background-color: #FAFAF9;    
}

.main{
    display: flex;
    flex-direction: row;       
    padding: 60px 30px;
}

.left-content{
      
    height: 50%;
    width: 50%;
}

.star{
    z-index: 1;
    border-radius: 100%;    
    background-color: #F5C044;
}

h1{
    @include text-heading();
}

p{
    @include text-body();
}

.check-list{
    display: flex;
    flex-direction: row;
}

.check{
    display: block;
    margin-bottom: 10px;
}

.descriptions > span {
    display: block;
    line-height: 24px;
    margin-left: 10px;
    @include text-body2();
    margin-bottom: 10px;
}